<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    <!-- Add favicon link here -->
    <link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}" type="image/x-icon">

    <!-- Add MathJax script here -->
    <script type="text/javascript" async
            src="https://cdn.jsdelivr.net/npm/mathjax@2/es5/tex-mml-chtml.js">
    </script>
</head>
<body>
<!-- Page content goes here -->

{{ content }}

</body>
</html>
